.Avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Avatar-container-mobile {   /* Partie mobile donc no visible sur pc*/
    display: none;
}
.Avatar-NomPrenom {         
    color: var(--PrimaryColor);
    width: 93px;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.Avatar-NomPrenom-Mobile {   /* Partie mobile donc no visible sur pc*/
    display: none;
}
.Avatar-PicFace img {        /* lieu ou je retrouve l'image "Avatar" de la personne */
    width: 64px;
    height: 64px;
    background-color: #c4c4c4;
    border-radius: 90%;
    margin-top: auto;
    margin-bottom: auto;
}
@media only screen and (max-width: 768px) {      /* Version écran tablette */
    .Avatar-container {                /* Partie pc donc no visible sur mobile */
        display: none;
    }
    .Avatar-NomPrenom-Mobile {         /* Partie mobile  où je rassemble dans une div  la photo + nom .... */
        font-size: 12px;
        line-height: 17px;
        display: flex;
        color: var(--PrimaryColor);
        align-items: flex-end;
        text-align: right;
        margin-right: 10px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .Avatar-PicFace-Mobile {           /* Version mobile de l'avatar */
        width: 32px;
        height: 32px;
        background-color: #c4c4c4;
        border-radius: 90%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .Avatar-container-mobile {         /* Version mobile de l'emplacement de l'avatar */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
