footer {
	width: 1440px;
	height: 209px;
	background: #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	text-align: center;
}

footer .logo {
	width: 122px;
	height: 40px;
	margin-top: 66px;
}

footer p {
	margin-top: 28px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #ffffff;
}


@media only screen and (max-width: 1400px) {
	footer {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	footer p {
		font-size: 17px;
	}
}
